@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --color1: #fff;
    --color2: #000;
    --color3: #01b3a7;
    --color4: #50ba87;
    --color5: #162E44;
    --color6: #132638;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    text-decoration: none;
}

/*
    MENU
*/


.menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 93%;
    max-width: 100%;
    margin: 0 auto;
    padding: 15px 0;
}

.menu-logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.menu-logo img {
    width: 225px;
    height: 18.5px;
}

.menu-content {
    display: flex;
    align-items: center;
    gap: 70px;
}

.menu-content i {
    color: var(--color3);
    font-size: 24px;
    margin-right: 10px;
}


.menu-content p {
    letter-spacing: 0.5px;
}

.menu-content a {
    color: var(--color2);
    transition: color 0.5s;
}

.menu-content a:hover {
    color: var(--color4);
}



.menu-content button{
    background-color: transparent;
    border-color: var(--color3);
    transition: border .3s;
}



.menu-content button:hover {
    border-color: var(--color4);
    cursor: pointer;
    color: var(--color1);
}


.linha-vertical {
    height: 20px;
    border-left: 1px solid;
    color: rgba(190, 190, 190, 0.486);
    margin: 0 10px;
}

/*
    MENU
*/



/*
    Barra de Navegação
*/

.navbar {
    background-color: var(--color5);

}

.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 93%;
    max-width: 100%;
    margin: 0 auto;
}

.navbar-links ul{
    display: flex;
    gap: 20px;
}

.navbar-links li{
    padding: 20px 15px;
    position: relative;
    transition: background 0.2s;
}

.navbar-links li a {
    color: var(--color1);
    position: relative;
    
}

.navbar-links > ul > li::after{
    content: '';
    display: block;
    position: absolute;
    height: 3px;
    width: 0;
    top: 0;
    left: -90px;
    background-color: #01B3A7;
    transition: width 0.1s;
    opacity: 30%;
}

.navbar-links li:hover{
    background-color: #304559;
    cursor: pointer;
}

.navbar-links > ul > li:hover::after {
    width: 100%;
    animation-name: slide;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    
}

@keyframes slide {
    0% {
        left: 0;
    }

    50% {
        left: 20px;
        opacity: 100%;
    }

    100% {
        left: 0;
        opacity: 100%;
    }
}

.active-page{
    background-color: #304559;
}

.active-page li::after {
    content: '';
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #01B3A7;
    transition: width 0.1s;
}

.active-page li:hover{
    background-color: rgba(67, 95, 121, 0.418);
}

.navbar-social-medias {
    display: flex;
    gap: 20px;
}

.navbar-social-medias i{
    color: var(--color1);
    font-size: 18px;
    transition: color 0.3s;
}

.navbar-social-medias i:hover{
    color: var(--color4);
    cursor: pointer;
}



/*
    Barra de Navegação
*/



/*

    Conteúdo Principal

*/

.principal {
    background-image: url('../imgs/beach-image-1.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    max-height: 100%;
    height: 500px;
    display: flex;

}

.principal-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 93%;
    max-width: 100%;
    margin: 0 auto;
}

.principal-content {
    display: flex;
    flex-direction: column;
    color: var(--color1);  
    gap: 15px;
}

.principal-content h1 {
    font-size: 4em;
    font-weight: 300;
}

.principal-content h2 {
    font-size: 1em;
    font-weight: 400;
    text-transform: uppercase;
}

.principal-content button{
    background-color: transparent;
    color: var(--color1);
    border-color: var(--color1);
    position: relative;
    z-index: 1;
    width: 160px;
    height: 60px;
    transition: border .3s;
}

.carousel-buttons {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.carousel-buttons button {
    width: 12px;
    height: 12px;
    background-color: rgb(173, 173, 173);
    border-style: none;
}

.active-image button {
    background-color: var(--color4);
}

.carousel-buttons button:hover {
    cursor: pointer;
}

.principal-content button::before {
    width: 50%;
}

.principal-content button:hover {
    cursor: pointer;
    border-color: var(--color4);
}

.principal-content button:hover::before {
    transition: 0.5s ease;
}



/*

    Conteúdo Principal

*/



/*

    PRINCIPAL CARDS

*/

.principal-cards {
    margin-bottom: 150px;
}

.principal-cards-container {
    display: flex;
    flex-direction: column;
    width: 93%;
    max-width: 100%;
    margin: 0 auto;
}

.principal-cards-imgs {
    display: flex;
    justify-content: center;
    transform: translateY(-40px); 
}

.card-item{
    margin-right: 30px;
}

.principal-cards-imgs img {
    width: 100%;
    transform: scale(1);
    transition: transform 0.3s;
}

.principal-cards-imgs img:hover{
    transform: scale(1.02);
    cursor: pointer;
}

.card {
    position: relative;
    text-align: center;
    color: white;
    overflow: hidden;
}

.card-text {
    position: absolute;
    bottom: 40px;
    left: 47%;
    transform: translate(-50%);
    font-size: 1.6em;
    font-weight: 700;
    width: 100%;
}

.principal-cards button {
    align-self: center;
    border: none;
}

.principal-cards button:hover {
    cursor: pointer;
}


/*

    PRINCIPAL CARDS

*/


/*

    DISCOVER NEW HORIZONS

*/

.discover-new-horizons {
    margin-bottom: 120px;
}

.discover-new-horizons-container {
    display: flex;
    justify-content: center;
    gap: 60px;
    width: 95%;
    max-width: 100%;
    
}

.discover-new-horizons-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 500px;
    align-self: center;
}

.discover-new-horizons-content h2 {
    font-size: 2.3em;
    font-weight: 600;
}

.discover-new-horizons-content p {
    width: 440px;
    font-size: .8em;
    line-height: 1.7em;
}

.discover-new-horizons-content-navigation a {
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    margin-right: 30px;
    font-size: 1em;
    letter-spacing: 0.1em;
}

.discover-new-horizons-content-navigation .active-button {
    color: var(--color3);
}

.discover-new-horizons-content button {
    width: 170px;
    height: 60px;
    z-index: 1;
}

.discover-new-horizons-content button:nth-child(1) {
    background-color: var(--color3);
    border-color: var(--color3);
    color: var(--color1);
}

.discover-new-horizons-content button:nth-child(1):hover {
    background-color: transparent;
    color: var(--color2);
}

.discover-new-horizons-content button:nth-child(2):hover {
    background-color: var(--color3);
}

/*

    DISCOVER NEW HORIZONA

*/


/*

    OUR SERVICES

*/

.our-services-container  {
    display: flex;
    flex-direction: column;
    width: 93%;
    max-width: 100%;
    margin: 0 auto;
}
.our-services-container h2{
    text-align: center;
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 80px;
}

.our-services-container h3 {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 1.3em;
}

.our-services-container p {
    color: rgb(182, 182, 182);
    font-size: 0.8em;
    width: 240px;
    line-height: 1.9em;
}

.our-services-container img{
    width: 40px;
    margin-right: 15px;
}

.our-services-content-item {
    
    margin-right: 70px;
}

.our-services-content-1, .our-services-content-2 {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}




/*

    OUR SERVICES

*/



/*

    Hot Tours

*/

.hot-tours-container {
    display: flex;
    flex-direction: column;
    width: 93%;
    max-width: 100%;
    margin: 0 auto;
}

.hot-tours-container h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2em;
    font-weight: 700;
}

.hot-tours-content-1, .hot-tours-content-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(192, 192, 192, 0.411);
}

.hot-tours-content-1 {
    margin-bottom: 40px;
}

.hot-tours-content-2 {
    margin-bottom: 100px;
}

.hot-tours-text {
    width: 370px;
    line-height: 2.2em;
}

.hot-tours-text h3 {
    font-weight: 500;
    font-size: 1.4em;
}

.hot-tours-text i {
    color: rgb(230, 195, 0);
}

.hot-tours-text p, .hot-tours-text span {
    line-height: 1.4em;
    font-size: 0.8em;
    margin-bottom: 20px;
    color: rgb(182, 182, 182)
}

.hot-tours-text button {
    padding: 18px 22px;
    z-index: 1;
    transition: border .3s;
}

.hot-tours-text button:hover {
    border-color: var(--color3);
}

.hot-tours-text button:hover::before {
    background-color: var(--color3);
}

.price {
    align-self: flex-start;
    background-color: #01B3A7;
    color: white;
    font-size: 1.5em;
    border-radius: 0 0 0 50px;
    padding: 20px;
}

/*

    Hot Tours

*/


/*

    One Mission

*/

.one-mission-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 150px;
}

.one-mission-container h2 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 2.2em;
    font-weight: 600;
}

.our-mission-content {
    display: flex;
    width: 95%;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    gap: 150px;
    text-align: center;
    line-height: 1.7em;
}

.function {
    color: var(--color4);
    font-size: 0.9em;
}


.photoActive{
    transform: translateY(-10px);
    transition: .3s;
}

.photoDefault{
    transform: translateY(0px);
    transition: .3s;
}


/*

    One Mission

*/



/*

    One Mission

*/

.first-class {
    height: 500px;
    background-image: url('../imgs/beach-image-7.jpg');
    background-attachment: fixed;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10px;
}

.first-class-container {
    display: flex;
    height: 100%;
    background-color: rgba(37, 37, 37, 0.151);
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.first-class-content {
    display: flex;
    width: 600px;
    flex-direction: column;
    text-align: center;
    color: var(--color1);
}

.first-class-content h2 {
    font-size: 3em;
    font-weight: 400;
    margin-bottom: 30px;
}
.first-class-content p {
    margin-bottom: 30px;
}

.first-class-content button {
    width: 200px;
    align-self: center;
    background-color: var(--color3);
    color: var(--color1);
    border: 2px solid var(--color3);
}


.first-class-content button:hover {
    background-color: transparent;
    border: 2px solid var(--color1);
}


/*

    One Mission

*/



/*

    One Mission

*/


.gallery-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    pointer-events: none;
    user-select: none;
}

.gallery h2 {
    text-align: center;
    font-weight: 500;
    font-size: 1em;
    margin-bottom: 20px;
}

.gallery-content {
    display: flex;
    width: 93%;
    max-width: 100%;
    justify-content: center;
}

.gallery-content img {
    padding: 15px;
    
}

/*

    One Mission

*/


/*

    Footer Content

*/

.footer-container {
    display: flex;
    flex-direction: row;
    background-color: var(--color5);
    height: 330px;

}

.footer-content {
    display: flex;
    width: 93%;
    max-width: 100%;
    margin: 0 auto;
    flex-direction: row;
    color: white;
    padding-top: 50px;
    font-weight: 300;
}

.footer-content h3 {
    line-height: 3em;
}

.footer-content a {
    color: white;
}

.footer-content-contact {
    width: 220px;
    margin-right: 200px;
}

.footer-content-contact a {
    font-size: .8em;
    transition: color .3s;
}

.footer-content-contact a:hover {
    color: var(--color3);
}

.footer-content-contact li {
    margin-bottom: 1.5em;
}




.footer-content-news {
    width: 230px;
    margin-right: 200px;
    line-height: 1.6em;
}

.footer-content-news a{
    color: var(--color3);
    font-size: .8em;
    transition: color .3s;
}

.footer-content-news a:hover {
    color: var(--color4);
}

.footer-content-news p {
    font-size: .7em;
    color: rgb(136, 136, 136);
    margin-bottom: 10px;
}




.footer-content-links {
    flex-wrap: wrap;
}

.footer-content-links ul {
    margin-bottom: 20px;
    columns: 2;
}

.footer-content-links li {
    list-style: disc;
    list-style-position: inside;

}

.footer-content-links li::marker {
    color: var(--color3);
    font-size: 1.3em;
}

.footer-content-links li a {
    transition: color .3s;
}

.footer-content-links li a:hover {
    color: var(--color3);
}

.footer-content-links button {
    border: none;
    background-color: var(--color3);
    color: var(--color1);
    z-index: 1;
    width: 160px;
    height: 60px;
}

.footer-content-links button::before {
    width: 50%;
    transition: .4s ease;
}

.footer-menu-container {
    display: flex;
    background-color: var(--color6);
    height: 100px;
}

.footer-menu-content {
    display: flex;
    margin: 0 auto;
    width: 93%;
    max-width: 100%;
    margin-top: 30px;
}

.copyright {
    width: 380px;
    color: #5d6872;
    font-size: 0.8em;
    margin-right: 150px;
}

.footer-menu-content .navbar-social-medias i{
    color: #5d6872;
    justify-self: center;
}

.footer-menu-content .navbar-social-medias i:hover {
    color: var(--color3);
}

.footer-menu-content .navbar-social-medias {
    margin-right: 400px;
}

.policy a{
    color: #5d6872;
    font-size: .7em;
}

/*

    Footer Content

*/



/*

    Hamburguer Menu

*/

.hamburguer-menu {
    display: none;
    background-color: white;
    color: var(--color2);
    overflow: hidden;
    z-index: 10;
    position: absolute;
    height: 100vh;
}

.hamburguer-menu-container {
    display: flex;
    flex-direction: column;
    width: 280px;
}

.hamburguer-navbar-social-medias {
    display: flex;
    align-self: center;
    gap: 20px;
    margin: 40px 0;
}

.hamburguer-navbar-social-medias i {
    font-size: 1.2em;
    transition: color .3s;
}

.hamburguer-navbar-social-medias i:hover {
    color: var(--color3);
    cursor: pointer;
}

.hamburguer-navbar-links li{
    width: 100%;
    padding: 20px 15px;
    margin-bottom: 5px;
}

.hamburguer-navbar-links li{
    margin-bottom: 5px;
    transition: background .3s, color .3s;
}

.hamburguer-navbar-links li:hover {
    cursor: pointer;
    background-color: var(--color3);
    color: white;
}

.hamburguer-navbar-links li {
    color: var(--color2)
}

.hamburguer-navbar-links .hamburguer-active-page li{
    background-color: var(--color3);
    color: var(--color1)
}

.hamburguer-navbar-links .hamburguer-active-page li{
    color: var(--color1)
}



.sticky {
    position: fixed;
    top: 0;
    margin: 0 auto;
}

.hamburguer-menu .navbar-social-medias i {
    color: var(--color2);
}

.visible {
    display: block;
}

.open-menu {display: none; font-size: 30px;}
.open-menu:hover {cursor: pointer;}

.close-menu {display: none; font-size: 30px;}
.close-menu {cursor: pointer;}

.toggle-dots {font-size: 30px; display: none;}
.toggle-dots{cursor: pointer;}
/*

    Hamburguer Menu

*/


.btn {
    padding: 14px 18px;
    font-weight: 400;
    font-size: 1em;
    text-align: center;
    letter-spacing: 0.7px;
    border-style: solid;
    overflow: hidden;
    position: relative;
}

.btn1::before {
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 110%;
    position: absolute;
    z-index: -1;
    transition: 0.25s ease;
}

.btn1:hover::before {
    background-color: var(--color4);
    width: 110%;
}


#phone {
    list-style: url('../imgs/phone.svg');
    list-style-position: inside;
}

#email {
    list-style: url('../imgs/envelope.svg');
    list-style-position: inside;
}

#address {
    list-style: url('../imgs/location-arrow.svg');
    list-style-position: inside;
}